.subCategory{
    width: 100%;
}
.titleTopMovie{
    margin: 5px 0;
    text-align: center;
    color: #fff;
}
.container{
    width: 80%;
    background: #333;
    margin: 10px auto;
    padding: 10px;
    box-shadow: 2px 2px 5px black;
}
.item-title{
    font-weight: 600;
}
.gallery-item{
    display: flex;
    flex-direction: row;
    margin: 10px 0; 
}
.gallery-item-info{
    padding: 10px;
    text-align: justify;
    font-size: 1.1rem;
    color: #fff;
}
.btnFavorite{
    padding: 3px;
    border-radius: 2px;
    background: #333;
    color: white;
}
.btnFavorite:hover{
    cursor: pointer;
}