*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  background: #333;
  font-family: monospace;
   
}
.backLogin, .backRegister{
  background-image: url(./pages/LoginPage/CapaLogin2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
